body {
    display: flex;
    flex-direction: column;
    font: normal 14px "Open sans";
    justify-content: center;
    max-width: 100%;
    overflow-x: hidden;
}

html{
    max-width: 100%;
    overflow-x: hidden;  
}