.contacts-wrapper {
    background-color: #2b2f35;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 300px;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 71px;
    font: 14px/24px "Open sans";
    letter-spacing: 0;
    color: #6e7279;
    @media (max-width: 1045px){
        padding-bottom: 45px;
    }
    @media (max-width: 625px) {
        padding-top: 5px;
        padding-bottom: 25px;
    }
}

.contacts {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 1125px;
    flex-wrap: wrap;
    @media (max-width: 1145px){
        margin: 0 15px;
    }
    @media (max-width: 831px){
        justify-content: space-around;
    }
    @media (max-width: 625px){
        flex-direction: column;
        align-items: flex-start;
        &-header {
            margin-top: 20px;
        }
    }
    .contacts-block {
        max-width: 300px;
        @media (max-width: 625px){
            max-width: 100%;
        }
    }
    .contact-info {
        display: flex;
        flex-direction: column;
    }
    &-header {
        font: 600 14px "open sans";
        letter-spacing: 1px;
        line-height: 24px;
        color: #b5a263;
        text-transform: uppercase;
        margin-bottom: 16px;
    }
    a,
    address,
    p {
        text-decoration: none;
        margin: 0;
        padding: 0;
        font: 14px "open sans";
        letter-spacing: 0;
        line-height: 24px;
        color: #6e7279;
        @include animate(color);
    }
    p {
        display: inline;
    }
    .links {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        a:hover {
            color: #b5a263;
        }
    }
    
    .subscribe {
        display: flex;
        flex-direction: column;
        @media (max-width: 625px) {
            width: 100%;      
        }
        &-button {
            @include animate(opacity);
            margin-top: 12px;
            max-width: 300px;
            height: 38px;
            background-color: #b5a263;
            text-transform: uppercase;
            font: 14px "open sans";
            letter-spacing: 1px;
            line-height: 24px;
            color: #ffffff;
            border: none;
            @media (max-width: 625px) {
                max-width: 100%;      
            }
            &:hover {
                opacity: 0.6;
            }
        }
        input {
            max-width: 300px;
            background-color: #2b2f35;
            font: 14px "open sans";
            letter-spacing: 0;
            line-height: 24px;
            color: #6e7279;
            @media (max-width: 625px) {
                max-width: 100%;
            }
        }
    }
}