.contacts-wrapper{
    background-color: #2b2f35;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 300px;
    width: 100%;
}

.contacts{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 1120px;

    .about{
        max-width: 30%;
    }

    .subscribe{
        display: flex;
        flex-direction: column;
    }
}