.contacts-wrapper{
    background-color: #2b2f35;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 300px;
    width: 100%;
    flex-wrap: wrap;

}

.contacts{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 1120px;
    flex-wrap: wrap;



    .about{
        max-width: 30%;
    }

    .subscribe{
        display: flex;
        flex-direction: column;

    }
}