.footer-wrapper{
    align-items: center;
    background-color: #24282f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    min-height: 66px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1130px;
    flex-wrap: wrap;

    p{
        color: #fff;
    }
    .socials{
        display: flex;
        flex-direction: row;
    }
}