.footer-wrapper {
    align-items: center;
    background-color: #24282f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    min-height: 66px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 1120px;
    flex-wrap: wrap;
    @media (max-width: 1415px) {
        padding: 0% 5%;
    }
    @media (max-width: 450px) {
        padding: 3% 5%;
        flex-direction: column;
        align-items: center;
    }
    p {
        font: normal 12px "open sans";
        letter-spacing: 1px;
        color: #6e7279;
    }
    .socials {
        display: flex;
        flex-direction: row;
        .fab {
            color: #6e7279;
            width: 34px;
            height: 34px;
            border-radius: 17px;
            border: 1px solid #6e7279;
            text-align: center;
            padding-top: 10px;
            margin-right: 13px;
        }
        .fab:hover {
            background-color: #b5a263;
        }
    }
}