.header-wrapper {
    background-color: $color-dark-blue;
    width: 100%;
    min-height: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
    flex-wrap: wrap;
    font: 14px "Open Sans";
    padding: 35px 10px 0 54px;
    @include media ("<widescreen"){
        padding: 35px 15px;
    }
    @include media ("<desktop"){
        .navbar-holder {
            display: none;
            .navbar {
                display: flex;
                position: absolute;
                justify-content: center;
                @include animate(opacity);
                background-color: $color-dark-blue;
                opacity: 0;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                ul {
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    li {
                        text-align: center;
                        margin: 35px 0 0 0;
                        width: 100%;
                        .menu-item {
                            display: block;
                            padding: 0;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .mobile-bars {
        @include animate(opacity);
        display: none;
        z-index: 2;
        color: $color-gold;
        opacity: 1;
        @include media ("<desktop"){
            display: block;
            cursor: pointer;
        }
        &:hover{
            opacity: 0.6;
            @include media ("<tablet"){
                opacity: 1;
            }
        }
    }
    .menu-item {
        color: #fff;
        text-decoration: none;
    }
    &-nav{
        .menu{
            .fas{
                max-width: 15px;
                max-height: 15px;
            }
        }
    }
    &-logo {
        font: bold 26px "Cabin";
        letter-spacing: 2px;
        line-height: 24px;
        display: flex;
        z-index: 2;
        @include animate(opacity);
        opacity: 1;
        &:hover{
            opacity: 0.6;
            @include media ("<tablet"){
                opacity: 1;
            }
        }
        img {
            padding: 4px 0 0;
        }
    }
    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        letter-spacing: 0.8px;
        line-height: 24px;
        color: #fff;
        text-transform: uppercase;
        ul {
            display: flex;
            flex-direction: row;
            @extend %listreset;
            li {
                margin: 0 0 0 64px;
                .menu-item {
                    position: relative;
                    &:after{
                        display: flex;
                        justify-content: center;
                        @include animate(opacity);
                        margin: 35px 0 0;
                        content: '';
                        position: absolute;
                        color: $color-gold;
                        background: $color-gold;
                        height: 2px;
                        width: 100%;
                        opacity: 0;
                    }
                    &:hover {
                        &:after{
                        opacity: 1;
                        }
                        @include media ("<desktop"){
                            padding: 0;
                            color: $color-gold;
                            &:after{
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}