header {
    align-items: center;
    background-color: #24282f;
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
    .header-wrapper{
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 1400px;
    }
    a {
        color: #e2e2e3;
        font-family: 'Cabin';
        font-size: 14px;
        font-weight: 600;
    }
    .header-logo {
        display: flex;
        flex-direction: row;
        margin-top: 7px;
        text-align: left;
        &-text {
            margin-left: 30px;
            text-transform: uppercase;
        }
    }
    nav {
        display: flex;
        flex-direction: row;
        text-align: right;
        a {
            margin-left: 65px;
            text-transform: uppercase;
        }
    }
}