.wrapper-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1400px;
}

.information {
    background-image: url('/src/images/information-bg.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 285px;
    width: 100%;
    p,
    h2 {
        color: #ffffff;
    }
    h2 {
        text-transform: uppercase;
    }
}