.bottom-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    p, img, h2, a{
        padding: 0;
        margin: 0;
    }
    h2{
        font-size: 24px;
        letter-spacing: 1px;
        line-height: 20px;
        color: #24282f;
        font-family: "Raleway";
        font-weight: bold;
        text-transform: uppercase;
    }
}

.managment{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1120px;
    height: 730px;
    .managers{
        display: flex;
        flex-direction: row;
        img{
            width: 311px;
            height: 300px;
        }
    }
}