.managment-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.managment {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 150px 0 35px 0;
    max-width: 1125px;
    @media (max-width: 1119px){
        margin: 0 15px;
    }
    @media (max-width: 760px){
        padding-top: 80px;
    }
    @media (max-width: 480px){
        padding-top: 45px;
    }      
    
      
    &-header {
        font: normal 24px 'Raleway';
        letter-spacing: 2px;
        color: #24282f;
        text-transform: uppercase;
        padding-bottom: 18px;
        position: relative;
        z-index: -1;
        &:after {
            padding-top: 51px;
            content: '';
            position: absolute;
            border-bottom: 2px solid #b5a263;
            width: 77px;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    a {
        text-decoration: none;
    }
    .managers {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 100%;
        @media (max-width: 1119px){
            justify-content: center;
        }
        
        @media (max-width: 744px) {
            flex-direction: column;
        }
        .manager {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 30px;
            max-width: 310px;
            &:nth-child(2){
                margin-left: 80px;
                margin-right: 80px;
                @media (max-width: 1119px){
                    margin-left: 160px;
                    margin-right: 0;
                }
                @media (max-width: 1050px){
                    margin-left: 80px;
                }
                @media (max-width: 744px) {
                    margin: 0;
                }
            }
            img{
                @media (min-width: 500px){
                    height: 300px;
                }
            }
            p{
                margin: 0;
            }
            &-info {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-content: center;
                padding-top: 22px;
                padding-left: 11px;
                width: 100%;
                &-data-name {
                    font: bold 16px "Raleway";
                    color: #232323;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }
                &-data-position {
                    font: bold 14px "open sans";
                    color: #b5a263;
                }
                &-socials {
                    padding-right: 5px;
                    padding-top: 4px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                }
            }
            .fab {
                color: #fff;
                width: 34px;
                height: 34px;
                border-radius: 17px;
                background-color: #dedede;
                text-align: center;
                padding-top: 10px;
                margin-right: 8px;
                @include animate(background-color);
                .sr-only{
                    visibility: hidden;
                }
                &:hover {
                    background-color: #b5a263;
                }
            }
        }
    }
    .btn-more {
        @include animate(background-color);
        @include animate(color);
        border: 1px solid #24282f;
        border-radius: 45px;
        margin-top: 43px;
        padding: 12px 37px;
        font: 16px "open sans";
        letter-spacing: 1px;
        line-height: 24px;
        color: #24282f;
        text-transform: uppercase;
        &:hover {
            background-color: #24282f;
            color: #fff;
        }
    }
}