.managment-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.managment {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1120px;
    min-height: 730px;
    @media (min-width: 741px) and (max-width: 1113px) {
        justify-content: center;
        align-content: center;
        flex-wrap: nowrap;
    }
    @media (max-width: 760px) {
        &-header {
            padding-top: 80px;
        }
        .managers {
            flex-direction: column;
            img {
                padding: 5%;
            }
        }
    }
    p {
        margin: 0;
        padding: 0;
    }
    &-header {
        font: bold 24px "Raleway";
        letter-spacing: 2px;
        line-height: 20px;
        color: #24282f;
        text-transform: uppercase;
        padding: 160px 0 35px 0;
    }
    .line {
        content: '';
        width: 77px;
        border-bottom: 2px solid #b5a263;
    }
    .managers {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @media (max-width: 350px) {
            img {
                height: auto;
                width: 90%;
            }
        }
        @media (max-width: 1113px) {
            justify-content: center;
        }
        img {
            padding: 30px;
            width: 311px;
            height: 300px;
            box-sizing: content-box;
        }
        .manager {
            padding-top: 30px;
            &-info {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: inherit;
                padding: 0px 35px;
                &-data-name {
                    font: normal 16px "Raleway";
                    color: #232323;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }
                &-data-position {
                    font: normal 14px "open sans";
                    color: #b5a263;
                }
            }
            .fab {
                color: #fff;
                width: 34px;
                height: 34px;
                border-radius: 17px;
                background-color: #dedede;
                text-align: center;
                padding-top: 10px;
                &:hover {
                    background-color: #b5a263;
                }
            }
        }
    }
    .loader {
        border: 1px solid #24282f;
        border-radius: 45px;
        margin: 50px 0 30px 0;
        padding: 18px 45px;
        font: normal 16px "open sans";
        letter-spacing: 1px;
        line-height: 24px;
        color: #24282f;
        text-transform: uppercase;
        &:hover {
            background-color: #24282f;
            color: #fff;
        }
    }
}