.reviews-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #f7f7f7;
}

.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    max-width: 1120px;
    min-height: 600px;
    flex-wrap: wrap;
    padding-top: 120px;
    &-header {
        font: bold 24px "Raleway";
        letter-spacing: 2px;
        line-height: 20px;
        color: #24282f;
        text-transform: uppercase;
        padding-bottom: 30px;
        position: relative;
        margin-bottom: 50px;
        @media (max-width: 768px) {
            margin: 0 15px;
            text-align: center;
            line-height: 24px;
        }
        &:after {
            padding-top: 40px;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            content: '';
            width: 77px;
            border-bottom: 2px solid #24282f;
        }
    }
    &-slider {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        margin: 0 auto;
        .fa-chevron-left,
        .fa-chevron-right {
            margin-top: 155px;
            &:hover {
                opacity: 0.5;
            }
        }
        .slick-dots {
            margin-top: 16px;
            li {
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background-color: #b5a263;
                button {
                    height: 10px;
                    width: 10px;
                    padding: 0;
                    color: #6e7279;
                    &:before{
                        font-size: 12px;
                        line-height: 11px;
                        height: 10px;
                        width: 10px;
                    }
                }
            }
        }
    }
    .slick-arrow{
        padding: 0 15px;
    }
    .review {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media (max-width: 1415px) {
            align-self: center;
        }
        .img-holder {
            width: 90px;
            margin-bottom: 40px;
            img{
                border-radius: 50%;
            }
        }
        .testimotional {
            max-width: 860px;
            font: normal 14px "open sans";
            letter-spacing: 1px;
            line-height: 24px;
            color: #000;
            text-align: center;
            margin-bottom: 45px;
        }
        .client-name {
            font: bold 16px "open sans";
            letter-spacing: 1px;
            line-height: 24px;
            color: #b5a263;
            text-transform: uppercase;
            ;
        }
        .client-position {
            font: normal 14px "open sans";
            letter-spacing: 1px;
            line-height: 24px;
            color: #000000;
            text-transform: capitalize;
        }
    }
}