.reviews-wrapper{
    background-color: #f7f7f7;
}

.reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1120px;
    height: 600px;
    .review{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .testimotional{

            max-width: 860px;

        }
    }

}